{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<script type="text/javascript" charset="utf-8">
    $( document ).ready(function() {
        console.log( "ready!" );
        $("#notif").addClass("is-hidden");

        console.log('trying to connect...');
        var socket = io.connect('http://127.0.0.1:5000');
        //var socket = io();
        console.log('connected');

        //////////////////
        // click handlers
        //////////////////

        {% for f in f_metrics %}
        $("#test_{{f.id}}").click(function(){
            console.log("Testing metric {{f.name}}");
            console.log("ID: " + "{{f.id}}");
            console.log("Value: " + "{{f.api_url}}");
            $(this).addClass("is-loading");

            // socket.emit('evaluate_{{f.id}}', {
            socket.emit('evaluate_metric', {
                          url: $("#url").val(),
                          api_url: "{{f.api_url}}",
                          id: "{{f.id}}",
                          principle: "{{f.principle}}",
                        });
        });
        {% endfor %}

        //////////////////
        // event handlers
        //////////////////

        socket.on('connect', function() {
            socket.emit('hello', {data: 'I\'m connected!'});
            console.log('hello message sent');
        });


        {% for f in f_metrics %}
        socket.on('done_{{f.id}}', function(value) {
            console.log('DONE {{f.name}}');
            $("#test_{{f.id}}").removeClass("is-loading");

            console.log(value['score']);
            if (value['score'] == 1) {
              $("#status_{{f.id}}").addClass("is-success");
            } else {
              $("#status_{{f.id}}").addClass("is-danger");
            }
            console.log(value['comment']);

        });
        {% endfor %}

        socket.on('fast', function(value) {
            if ("done".includes(value)) {
                $("#p1").attr("value", 100);
            } else {
                console.log('received '+value+' for p1');
                $("#p1").attr("value",value);
            }
        });

        socket.on('slow', function(value) {
            if ("done".includes(value)) {
                $("#p2").attr("value", 100);
            } else {
                console.log('received '+value+' for p2');
                $("#p2").attr("value", value);
            }
        });

        socket.on('long', function(value) {
            console.log('END LONG');
            $("#notif").text(value);
            $("#notif").removeClass("is-hidden");
        });

        socket.emit('fast');
        //socket.emit('slow');
        //socket.emit('long');
    });
</script>

<h1 class="title">How FAIR is my resource</h1>

<div class="section">
    <progress id="p1" class="progress is-primary"  value="" max="100"></progress>
</div>

<div class="section">
    <div class="control">
          <input id="url" name="url" class="input is-large" type="text" placeholder="FAIR resource URL" value="http://bio.tools/bwa">
    </div>
</div>

<div class="columns is-multiline is-mobile">
<!--    <div class="column is-one-fifth"><code>Findable</code></div>-->
    {% for f in f_metrics %}
        <div class="column is-one-third">
            {% set title=f.name %}
            {% set principle=f.principle %}
            {% set tag=f.principle_tag %}
            {% set desc=f.description %}
            {% set api_url=f.api_url %}
            {% set id=f.id %}
            {% include 'metrics_card.html' with context %}
        </div>
    {% endfor %}
</div>
<!--<div class="columns is-multiline is-mobile">-->
<!--    <div class="column is-one-quarter"><code>A1</code></div>-->
<!--    <div class="column is-one-quarter"><code>A2</code></div>-->
<!--    <div class="column is-one-quarter"><code>A3</code></div>-->
<!--</div>-->
<!--<div class="columns is-multiline is-mobile">-->
<!--    <div class="column is-one-quarter"><code>I1</code></div>-->
<!--</div>-->
<!--<div class="columns is-multiline is-mobile">-->
<!--    <div class="column is-one-quarter"><code>R1</code></div>-->
<!--    <div class="column is-one-quarter"><code>R2</code></div>-->
</div>

{% endblock %}
