{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<script type="text/javascript" charset="utf-8">
    $( document ).ready(function() {
        console.log( "ready!" );
        $("#notif").addClass("is-hidden");

        console.log('trying to connect...');
        var socket = io.connect('http://127.0.0.1:5000');
        //var socket = io();
        console.log('connected');

        //////////////////
        // select url to test
        //////////////////
        {% for k in sample_data.keys() %}
           $("#sample_{{k}}").on("change", function(){
               console.log(this.value) ;
               $("#url").val(this.value) ;
               $('#sample_{{k}} option[value="{{ k }}"]').attr("selected", "selected");
           });
        {% endfor %}




        //////////////////
        // click handlers
        //////////////////

        {% for f in f_metrics %}
        $("#test_{{f.id}}").one('click', function($e){
            $e.preventDefault();
            console.log("Testing metric {{f.name}}");
            console.log("ID: " + "{{f.id}}");
            console.log("Value: " + "{{f.api_url}}");
            $(this).addClass("is-loading");

            // socket.emit('evaluate_{{f.id}}', {
            socket.emit('evaluate_metric', {
                          url: $("#url").val(),
                          api_url: "{{f.api_url}}",
                          id: "{{f.id}}",
                          principle: "{{f.principle}}",
                        });
        });
        {% endfor %}

        //////////////////
        // event handlers
        //////////////////

        socket.on('connect', function() {
            socket.emit('hello', {data: 'I\'m connected!'});
            console.log('hello message sent');
        });


        {% for f in f_metrics %}
        socket.on('done_{{f.id}}', function(value) {
            console.log('DONE {{f.name}}');
            $("#test_{{f.id}}").removeClass("is-loading");
            $("#test_{{f.id}}").attr("disabled", true);
            $("#test_{{f.id}}").removeAttr("href");

            console.log(value['time']);
            console.log(value['score']);

            // change status color
            if (value['score'] == 1) {
              $("#status_{{f.id}}").addClass("is-success");
              $("#result_{{f.id}}").addClass("is-success");
            } else {
              $("#status_{{f.id}}").addClass("is-danger");
              $("#result_{{f.id}}").addClass("is-danger");
            }

            //update progressbar
            current = parseInt($("#p1").attr("value"));
            $("#p1").attr("value", current+1);
            // add score to result
            $("#score_{{f.id}}").text(value['score']);
            // add time to result
            $("#time_{{f.id}}").text(value['time']);
            // add comment to result
            $("#comment_{{f.id}}").text(value['comment']);
            // show table
            $("#result_table_{{f.id}}").show();


            update_radar_chart();

        });
        {% endfor %}

        //////////////////
        // exec all button
        //////////////////

        $("#btn_test_all").one('click', function($e){
          $('[id^=test_metric_]').each(function( id ) {
            $(this).trigger( "click" );
            // console.log($(this).attr('id'))
          });
        });

        // socket.on('fast', function(value) {
        //     if ("done".includes(value)) {
        //         $("#p1").attr("value", 100);
        //     } else {
        //         console.log('received '+value+' for p1');
        //         $("#p1").attr("value",value);
        //     }
        // });
        //
        // socket.on('slow', function(value) {
        //     if ("done".includes(value)) {
        //         $("#p2").attr("value", 100);
        //     } else {
        //         console.log('received '+value+' for p2');
        //         $("#p2").attr("value", value);
        //     }
        // });

        socket.on('long', function(value) {
            console.log('END LONG');
            $("#notif").text(value);
            $("#notif").removeClass("is-hidden");
        });

        socket.emit('fast');
        //socket.emit('slow');
        //socket.emit('long');
    });
</script>

<h1 class="title">How FAIR is my resource</h1>

<h3 class="title is-5">Pick a sample resource identifier</h3>
<div class="columns is-multiline is-mobile">
    {% for k in sample_data.keys() %}
        <div class="column is-2">
            <div class="field">
                <label class="label">{{k}}</label>
                <div class="control">

                    <div class="select">
                        <select id="sample_{{k}}">
                            {% for s in sample_data[k] %}
                            <option>{{ s }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="section">
    <div class="field is-grouped">
          <input id="url" name="url" class="input" type="text" placeholder="FAIR resource URL" value="http://bio.tools/bwa">
          <p class="control"><a id="btn_test_all" class="button is-info">Test all metrics</a></p>
    </div>

</div>

<div class="section">
    <progress id="p1" class="progress is-primary"  value="0" max="22"></progress>
</div>




{% for category in ['F', 'A', 'I', 'R'] %}
    <table id="metrics_checkboxes" class="table is-hoverable">
        <thead>
            <th>
                <label class="checkbox">
                    <input type="checkbox">
                    {{ category }}

                </label>
            </th>
        </thead>
        <!-- Remove hidden to show tables -->
        <tbody hidden>
        {% for f in f_metrics %}
            {% if f.principle_category == category %}
            <tr>
                <th>
                    <label class="checkbox">
                        <input type="checkbox">
                        {{ f.principle_tag }} - {{ f.name }}

                    </label>
                </th>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% include 'radar_chart.html' %}

<div class="columns is-multiline is-mobile">
<!--    <div class="column is-one-fifth"><code>Findable</code></div>-->
    {% for f in f_metrics %}
        <div class="column is-one-third">
            {% set title=f.name %}
            {% set principle=f.principle %}
            {% set principle_category=f.principle_category %}
            {% set tag=f.principle_tag %}
            {% set desc=f.description %}
            {% set api_url=f.api_url %}
            {% set id=f.id %}
            {% include 'metrics_card.html' with context %}
        </div>
    {% endfor %}
</div>
<!--<div class="columns is-multiline is-mobile">-->
<!--    <div class="column is-one-quarter"><code>A1</code></div>-->
<!--    <div class="column is-one-quarter"><code>A2</code></div>-->
<!--    <div class="column is-one-quarter"><code>A3</code></div>-->
<!--</div>-->
<!--<div class="columns is-multiline is-mobile">-->
<!--    <div class="column is-one-quarter"><code>I1</code></div>-->
<!--</div>-->
<!--<div class="columns is-multiline is-mobile">-->
<!--    <div class="column is-one-quarter"><code>R1</code></div>-->
<!--    <div class="column is-one-quarter"><code>R2</code></div>-->
</div>

{% endblock %}
