<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            {{ title }}
        </p>
    </header>
    <div class="card-content">
        <div class="content is-small">
            {{ desc }}
        </div>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item"> <a id="test_{{ title }}" href="#" class="button is-small is-info">Check</a> </div>
        <div class="card-footer-item"> <a id="status_{{ title }}" href="#" class="button is-small ">Status</a> </div>
    </footer>
</div>